#main {
    width: 100%;
}

#main .sub .back {
    display: flex;
    color: black;
}

.bestBox {
    width: 65px;
    height: 20px;
    background-color: #ff7f38;
    border-radius: 8px;
    padding-top: 3px;
    padding-bottom: 13px;
    padding-left: 5px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.gobest {
    position: absolute;
    margin-top: 10px;
    display: flex;
    padding-left: 30px;
    color: white;
    font-size: 0.8em;
}

#main .item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0 20px;
    border-radius: 12px;
}

#main .item .info {
    padding-bottom: 20px;
    border-bottom: 1px solid #ff7f38;
}

#main .item .info .titleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#main .item .info .category {
    display: flex;
    margin-right: 10px;
    color: black;
    word-break: keep-all;
    background-color: #ff7f38;
    border-radius: 6px;
}

#main .item .info h1 {
    display: inline;
    color: black;
    word-break: break-word;
}

#main .item .info .etc {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9em;
}

#main .item .info .etc .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#main .item .info .etc .left .userImage {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    background-color: #ff7f38;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

#main .item .info .etc .left .nickName {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#main .item .info .etc .left .viewCount {
    color: black;
}

#main .item .info .etc .left .viewCount .viewIcon {
    color: rgb(250, 169, 137);
    margin-right: 8px;
}

.dot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 100%;
}

.bestContent p {
    line-height: 24px;
}

#main .item .info .etc .likeCount {
    color: black;
}

#main .customHtml {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#main .html {
    box-shadow: 0 5px 4px -4px #ff7f38;
    /* border-bottom: 1px solid #ffd7c2; */
}

#main .likeContainer {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#main .likeContainer .scrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: auto;
    padding: 10px;
    padding-top: 20px;
    font-size: 1em;
    color: black;
    word-break: keep-all;
    background-color: antiquewhite;
    border: 0;
    border-radius: 6px;
}

#main .likeContainer .scrap .scp {
    font-size: 1.07em;
    color: grey;
}

#main .html {
    border-bottom: 1px solid #ff7f38;
    padding-bottom: 20px;
}

#main .listAndEdit {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 0.9em;
}

#main .listAndEdit div {
    display: flex;
    flex: 1;
    gap: 10px;
}

#main .listAndEdit .center .button {
    justify-content: center;
    padding-top: 10px;
}

#main .listAndEdit .left {
    padding-top: 20px;
    padding-bottom: 20px;
}

#main .listAndEdit .right {
    padding-top: 20px;
}
#main .button a,
#main .button button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    padding: 0 20px;
    font-size: 1em;
    color: white;
    background-color: #ff7f38;
    border-radius: 8px;
}

.commentTitle {
    font-size: 1.2em;
    font-weight: 700;
    color: #ff7f38;
}
.commentContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.commentContainer .contentContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    background-color: rgb(0 0 0 /5%);
    border-radius: 8px;
}

.commentContainer .commentInput {
    display: flex;
    flex-direction: row;
}

.commentContainer .commentContent {
    flex: 0.9;
}

.commentContainer textarea {
    width: 100%;
    height: 60px;
    font-size: 1em;
    color: black;
    resize: none;
    /* background-color: rgb(0 0 0 /5%); */
    border: 0;
    border-radius: 8px;
}

.commentContainer .submit {
    display: flex;
    flex: 0.1;
    align-items: start;
    justify-content: center;
    margin: 10px;
    font-size: 1em;
    font-weight: 700;
    border: 0;
    border-radius: 15px;
}

.commentContainer .submit button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 1em;
    color: var(--default-anchor-color);
    background-color: rgb(0 0 0 /5%);
    border: 0;
    border-radius: 8px;
}

#main .listAndEdit .right .button {
    justify-content: right;
}

#main .listAndEdit .left .button {
    justify-content: start;
}

h2 {
    font-size: 1.2em;
    font-weight: 700;
}

.bottomBoardListHeader {
    width: 100%;
    padding: 10px 15px;
    text-align: left;
}

#boardList {
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
}

#boardList,
#title,
.searchAndWrite {
    padding: 0 10px;
}

#boardList .simple .underList {
    padding: 5px;
}

#boardList .titleContainer,
#boardList .titleContainer .title {
    justify-content: center;
    width: 100%;
}

#boardList .titleContainer {
    display: flex;
    align-items: center;
    padding: 2px 0;
    overflow: hidden;
}

#boardList.simple .etc1 {
    width: 30%;
}

#boardList .etc1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    white-space: nowrap;
}

#boardList .etc1 .nickName {
    display: inline-flex;
    flex: 4;
    align-items: center;
    justify-content: left;
    font-size: 0.9em;
}

#boardList .etc1 > div {
    text-align: center;
}

#boardList .etc1 .field {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}

#boardList .etc1 .number {
    flex: 2;
    font-size: 0.9em;
}

#boardList .info2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* box-shadow: var(--shadows-gray-blue-3-5-b-box-shadow, 0px 2px 5px 0px rgba(238, 10, 10, 0.03)); */
    background-color: antiquewhite;
    font-size: 0.8em;
    font-weight: bold;
    padding: 7px;
}

#boardList .titleContainer {
    max-width: 70%;
}

#boardList .underList .category {
    box-sizing: border-box;
    padding: 4px 6px;
    margin-right: 8px;
    font-size: 0.9em;
    color: white;
    word-break: keep-all;
    white-space: nowrap;
    background-color: #ff7f38;
    border: solid 1px #ff7f38;
    border-radius: 6px;
}

#boardList .simple .underList .title {
    width: 100%;
}

#boardList .info2 .titleContainer .title .text1 {
    display: flex;
    justify-content: center;

    /*이거 건들면 ㅈ됨 ㄹㅇ 전체 컴포넌트 페이지 태그들 이름 다시 정리해야함*/
}

#boardList .simple .underList .title .text .text1 {
    font-size: 0.9em;
}

#boardList .underList .title .text .text1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listHeader {
    height: 55px;
}
#boardList .underList .etc1 .dot {
    display: none;
}

.PostListTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    margin-left: 35px;
}

#boardList .underList .title .commentCount,
#boardList .simple .underList .commentCount {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 16px;
    margin-left: 5px;
    font-size: 0.9em;
    font-weight: 700;
    color: #ff7f38;
    text-align: center;
    border-radius: 3px;
}

#boardList .underList .info3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

#boardList .underList .info3 i {
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center;
}

#list .searchAndWrite {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
}

#list .searchAndWrite form {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 40px;
}

#list .searchAndWrite .search {
    display: flex;
    flex: 1;
}

#list .searchAndWrite .search select {
    box-sizing: border-box;
    height: 40px;
    padding: 0 20px;
    font-size: 1em;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
    appearance: none;
    background-color: #ff7f38;
}

#list .searchAndWrite .search input {
    box-sizing: border-box;
    flex: 1;
    height: 40px;
    padding: 0 16px;
    margin: 0 14px;
    font-size: 1em;
    background-color: #ff7f38;
    color: whitesmoke;
    border: 0;
    border-radius: 8px;
}

#list .searchAndWrite .search button {
    box-sizing: border-box;
    height: 40px;
    padding: 0 20px;
    margin: 0;
    font-size: 0.9em;
    color: white;
    background-color: #ff7f38;
    border: 0;
    border-radius: 8px;
}

#list .searchAndWrite .write {
    display: flex;
    justify-content: flex-end;
}
.searchAndWrite {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
}

.searchAndWrite {
    padding: 0 10px;
}

.searchAndWrite form {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 40px;
}

.searchAndWrite .search {
    display: flex;
    flex: 1;
}

.searchAndWrite .search select {
    box-sizing: border-box;
    height: 40px;
    padding: 0 20px;
    font-size: 1em;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
    appearance: none;
    background-color: #ff7f38;
}

.searchAndWrite .search input {
    box-sizing: border-box;
    flex: 1;
    height: 40px;
    padding: 0 16px;
    margin: 0 14px;
    font-size: 1em;
    background-color: #ff7f38;
    color: whitesmoke;
    border: 0;
    border-radius: 8px;
}

.searchAndWrite .search button {
    box-sizing: border-box;
    height: 40px;
    padding: 0 20px;
    margin: 0;
    font-size: 0.9em;
    color: white;
    background-color: #ff7f38;
    border: 0;
    border-radius: 8px;
}

.searchAndWrite .write {
    display: flex;
    justify-content: flex-end;
}

.selectedPost {
    background-color: beige;
    color: #bbb;
    display: block;
    height: 40px;
}
