.container {
  text-align: center;
  margin-top: 20px;
  background-color: rgba(253, 236, 217, 0.973);
  width: 298px;
  height: 600px;
  border-radius: 3%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.header-sign {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.custom-card {
  width: 18rem;
  perspective: 1000px;
  transition: transform 0.5s ease-in-out;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.custom-card.flipped {
  transform: rotateY(180deg);
}

.card-front {
  width: 288px;
  height: 444px;
  transform-style: preserve-3d;
  position: relative;
}

.card-front .main-image {
  width: 268px;
  height: 268px;
  border-radius: 100%;
  border: none;
  object-fit: cover;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.39), 0 6px 6px rgba(0, 0, 0, 0.41);
}

.card-body {
  padding: 1rem;
}

.card-body h3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.card-body h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}
.p-text {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 25px;
  overflow: hidden; /* 텍스트를 요소 내에서 숨김 */
  text-overflow: ellipsis; /* 텍스트가 자를 경우 "..."으로 나타냄 */
  display: -webkit-box; /* WebKit 기반 브라우저에서 사용 */
  -webkit-line-clamp: 3; /* 표시할 줄 수 설정 (3줄 이상은 자름) */
  white-space: normal;
  -webkit-box-orient: vertical; /* 세로 방향으로 텍스트 배치 */
  line-height: 1.4;
}

.card-back {
  width: 288px;
  height: 444px;
  background: rgba(253, 236, 217, 0.973);
  transform: scale(-1, 1);
  margin-left: 6px;
  display: none;
  position: relative;
  transform-style: preserve-3d;
}

.card-back h1 {
  font-size: 24px;
  margin-top: 0;
}

.info-row {
  display: flex;
  margin-bottom: 10px;
  padding: 8px;
}

.info-label {
  flex: 1;
  font-size: 16px;
}

.info-value {
  flex: 2;
  font-size: 16px;
}

.custom-card.flipped .card-front {
  display: none;
}

.custom-card.flipped .card-back {
  display: block;
}

.front-applyBtn {
  background-color: rgba(25, 107, 25, 0.966);
  border: none;
  height: 40px;
  color: white;
  width: 278px;
  margin-bottom: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.apfront-infoBtn {
  background-color: rgb(6, 6, 165);
  border: none;
  height: 40px;
  color: white;
  width: 278px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.back-applyBtn {
  background-color: rgba(25, 107, 25, 0.966);
  border: none;
  height: 40px;
  color: white;
  width: 278px;
  margin-bottom: 10px;
  margin-left: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.apback-infoBtn {
  background-color: rgb(6, 6, 165);
  border: none;
  height: 40px;
  color: white;
  width: 278px;
  margin-left: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}
