.ap-container {
  text-align: center;
  margin-top: 20px;
  background-color: rgba(253, 236, 217, 0.973);
  width: 298px;
  height: 600px;
  border-radius: 3%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.ap-header-sign {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.ap-custom-card {
  width: 18rem;
  perspective: 1000px;
  transition: transform 0.5s ease-in-out;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.ap-custom-card.flipped {
  transform: rotateY(180deg);
}

.ap-card-front {
  width: 288px;
  height: 444px;
  transform-style: preserve-3d;
  position: relative;
}

.ap-card-front .ap-main-image {
  margin-left: 10px;
  width: 268px;
  height: 268px;
  border-radius: 100%;
  border: none;
  object-fit: cover;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.39), 0 6px 6px rgba(0, 0, 0, 0.41);
}

.ap-card-body {
  padding: 1rem;
}

.ap-card-body h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}
.ap-text {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 25px;
  overflow: hidden; /* 텍스트를 요소 내에서 숨김 */
  text-overflow: ellipsis; /* 텍스트가 자를 경우 "..."으로 나타냄 */
  display: -webkit-box; /* WebKit 기반 브라우저에서 사용 */
  -webkit-line-clamp: 3; /* 표시할 줄 수 설정 (3줄 이상은 자름) */
  white-space: normal;
  -webkit-box-orient: vertical; /* 세로 방향으로 텍스트 배치 */
  line-height: 1.4;
}

.ap-card-back {
  width: 288px;
  height: 444px;
  background: rgba(253, 236, 217, 0.973);
  transform: scale(-1, 1);
  margin-left: 6px;
  display: none;
  position: relative;
  transform-style: preserve-3d;
}

.ap-info-row {
  display: flex;
  margin-bottom: 10px;
  padding: 8px;
}

.ap-info-label {
  flex: 1;
  font-size: 16px;
}

.ap-info-value {
  flex: 2;
  font-size: 16px;
}

.ap-custom-card.flipped .ap-card-front {
  display: none;
}

.ap-custom-card.flipped .ap-card-back {
  display: block;
}

.ap-front-chatBtn {
  font-weight: bold;
  background-color: rgba(238, 160, 43, 0.966);
  margin-left: 7px;
  border: none;
  height: 45px;
  color: white;
  width: 125px;
  margin-bottom: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}
.ap-bottomBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.ap-front-applyBtn {
  font-weight: bold;
  margin-right: 7px;
  background-color: rgba(25, 107, 25, 0.966);
  border: none;
  height: 45px;
  color: white;
  width: 125px;
  margin-bottom: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.ap-front-infoBtn {
  font-weight: bold;
  margin-left: 5px;
  background-color: rgb(6, 6, 165);
  border: none;
  height: 40px;
  color: white;
  width: 278px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.ap-back-applyBtn {
  background-color: rgba(25, 107, 25, 0.966);
  border: none;
  height: 40px;
  color: white;
  width: 278px;
  margin-bottom: 10px;
  margin-left: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.ap-back-infoBtn {
  background-color: rgb(6, 6, 165);
  border: none;
  height: 40px;
  color: white;
  width: 278px;
  margin-left: 5px;
  margin-top: 60px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}
