.ApplyMain {
  max-width: 1200px;
  height: 800px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 2%;
  background-color: rgb(247, 242, 235);
  display: flex;
  flex-direction: column; /* 자식 요소들을 세로로 정렬 */
  position: relative; /* 자식 요소들의 absolute 포지셔닝을 위한 기준점 */
  overflow-x: auto; /* 내부 내용이 많아질 경우 스크롤 생성 */
}

.AC {
  height: 800px;
  border: 1px ; /* 테두리 색상이 보이도록 수정 */
  margin: 10px;
  position: relative; /* 내부 절대 위치 요소들을 위해 relative로 변경 */
  overflow-x: auto; /* 가로 스크롤 생성을 위한 설정 */
}

.Applytag {
  font-size: 50px;
  font-weight: bold;
  color: coral; /* 올바른 색상 속성 값으로 수정 */
  position: absolute;
  top: 0;
  left: 0; /* 왼쪽 상단에 고정 */
}

.ApplySelect {
  margin: 30px;
}

.ap-backButton {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: coral;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.ap-section {
  display: flex;            
  flex-wrap: nowrap;      
  gap: 20px;               
  padding: 20px;            
  margin: 20px;            
  overflow-x: auto;         
  align-items: flex-start;  
  justify-content: center;
}

.ap-empty-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: coral;
}

.ap-left-bottom-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: coral;
  border: none;
  padding: 15px 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.ap-right-bottom-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: coral;
  border: none;
  padding: 15px 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
