.ApplyMain {
  min-width: 1900px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 2%;
  background-color: rgb(247, 242, 235);
  margin: 60px;
}

.AC {
  justify-content: center;
  border: 1px;
  min-width: 2000px;
  max-width: 1400px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.Applytag {
  font-weight: bold;
  font-size: 50px;
  position: relative;
  bottom: 40px;
  left: 125px;
  color: coral;
}
.ApplySelect {
  margin: 30px;
}
