section {
    display: block;
    margin: 0;
    font: inherit;
    border: 0;
}
#bestList {
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
    padding: 0 10px;
}

#bestList .info2 {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    font-size: 0.8em;
    font-weight: bold;
    padding: 9px;
}

#bestList .item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0 20px;
    border-radius: 12px;
}

#bestList .item .best {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bestList .item .titleContainer {
    display: flex;
    align-items: center;
    padding: 2px 0;
    overflow: hidden;
}

#bestList .item .best {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bestList .item .category {
    box-sizing: border-box;
    padding: 4px 6px;
    margin-right: 8px;
    font-size: 0.9em;
    color: black;
    word-break: keep-all;
    white-space: nowrap;
    background-color: #ff7f38;
    border: solid 1px;
    border-radius: 6px;
}

#bestList .item .title {
    display: flex;
    align-items: center;
    overflow: hidden;
}

#bestList .item .titleContainer .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

#bestList .item .title .pre {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    border: 0;
}

#bestList .item .best .commentCount {
    color: black;
    font-size: 0.7em;
}
#bestList .item .titleContainer .commentCount {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    margin-left: 5px;
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
}

#bestList .item .etc {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2px 0;
    font-size: 0.8em;
    color: gray;
    white-space: nowrap;
}
/* #bestList .etc .nickName,
.viewCount {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    border: 0;
} */

.dot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 100%;
}

#bestList .item .etc .likeCount {
    color: #000;
}

#bestList .etc1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    white-space: nowrap;
}

#bestList .etc1 .nickName {
    display: inline-flex;
    flex: 4;
    align-items: center;
    justify-content: left;
    font-size: 0.9em;
}

#bestList .etc1 > div {
    text-align: center;
}

#bestList .etc1 .field {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}

#bestList .etc1 .number {
    flex: 2;
    font-size: 0.9em;
}

#bestList .info2 .titleContainer .title .text1 {
    margin-left: 200px;
}

#bestList .etc .nickName {
    box-sizing: border-box;
    padding: 0;
    margin-right: 20px;
    font: inherit;
    vertical-align: baseline;
    border: 0;
}

#bestList .etc .viewCount {
    box-sizing: border-box;
    padding: 0;
    margin: 8px;
    font: inherit;
    vertical-align: baseline;
    border: 0;
}
