.header {
    position: relative;
    background-color: white;
    width: 100%;
    z-index: 1;
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hiddlen;
    white-space: nowrap;
}

.header-logo {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 150px;
}
.header-search {
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10px;
}
.header-search input {
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    width: 80%;
    max-width: 600px;
    height: 50px;
    padding: 10px;
    border-bottom: 3px solid #ff7f38;
    border-top: 3px solid #ff7f38;
    border-left: 3px solid #ff7f38;
    border-right: none;
    outline: none;
}
.header-search button {
    padding: 10px;
    height: 50px;
    border-bottom: 3px solid #ff7f38;
    border-top: 3px solid #ff7f38;
    border-left: none;
    border-right: 3px solid #ff7f38;
    background-color: white;
    outline: none;
}
.header-sign {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.header-sign :hover {
    color: #ff7f38;
}

.header-sign a {
    padding: 5px;
    color: gray;
}

.navbar {
    position: sticky;
    top: 0px; /* 도달했을때 고정시킬 위치 */
    background-color: white;
    z-index: 10;
    padding: 10px;
    width: 100%;
    display: flex;
    height: 50px;
    border-top: 1px solid #ffd7c2;
    border-bottom: 1px solid #ffd7c2;
    box-shadow: 0 5px 4px -4px #ffd7c2;
    justify-content: space-between;
    align-items: center;
    overflow: hiddlen;
    white-space: nowrap;
    font-size: 1.8rem;
}

.navbar-menu {
    margin-left: auto;
}

.navbar-menu a {
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
}

.navbar-alarm {
    margin-left: auto;
    margin-right: 30px;
}

@media screen and (max-width: 760px) {
    .header-search {
        display: none;
    }
}
