* {
  white-space: nowrap;
}

.billboard {
  width: 100%;
  min-width: 1200px;
  height: 450px;
  display: flex;
  background-color: #ffdac2;
  border-bottom: 2px solid #ff7f38;
}
.content {
  height: 100%;
  margin-left: 300px;
}

.content p {
  width: 100%;
  margin: 20px;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 120%;
}
