.login-page {
  background-color: #FF9615;
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}

.page {
  position: relative;
  background: #FFFFFF;
  max-width: 430px;
  margin: 0 auto;
  padding: 35px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: center;
  margin-top: 120px;
}

.titleWrap {
  margin-top: 87px;
  font-size: 26px;
font-weight: bold;
color: #262626;

}

.contentWrap {
  margin-top: 26px;
  flex: 1;
}

.inputTitle {
  font-size: 12px;
font-weight: 600;
color: #262626;

}

.inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
 
}
.inputWrap:focus-within {
  border: 1px solid #FF9615;
}

.input {
  width: 100%;
  outline: none;
border: none;
  height: 17px;
  font-size: 14px;
font-weight: 400;
}

.input::placeholder {
  color: #dadada;
}

.bottomButton {
  width: 80%;
height: 48px;
  border: none;
  font-weight: bold;
  margin-bottom: 16px;
  cursor: pointer;
}

.bottomButton:disabled {
  background-color: #FF9615;
  color: white;
}

.errorMessageWrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}


.linksWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.linksWrap a {
  text-decoration: none;
  color: #262626;
  font-weight: lighter; /* 글자 연하게 설정 */
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  
}

.linksWrap span {
  margin: 0 8px;
  color: #262626;
  font-size: 14px;
}

/* body {
  background-color: #FF9615; 
  margin: 0;
  padding: 0;
} */
