/* @font-face {
  font-family: "NanumSquareRoundB";
  src: url("../font/NanumSquareRoundB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundEB";
  src: url("../font/NanumSquareRoundEB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundL";
  src: url("../font/NanumSquareRoundL.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundR";
  src: url("../font/NanumSquareRoundR.ttf") format("truetype");
} */

/* *,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid;
} */
div {
  display: block;
}

body {
  /* background-color: #272c48; */
  /* font-family: "NanumSquareRoundL"; */
}

a {
  text-decoration: none;
  color: #000;
}
.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  min-width: 1200px;
  margin-left: 80px;
  padding-top: 50px;
}
.main {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 1600px;
  min-height: calc(100vh - 400px);
}

.select-bar {
  background-color: white;
  /* font-family: "NanumSquareRoundR"; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-radius: 4px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 2px 1px #949494;
}

.select-bar a {
  padding: 5px 10px;
  border-radius: 4px;
  line-height: 56px;
  margin: 5px;
  color: #4d391c;
  border-style: none;
  font-weight: 700;
}

.select-bar a:hover {
  color: #ed5a14;
}

.section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1600px;
  min-width: 1600px;
  gap: 24px;
}

.board {
  box-shadow: 1px 1px 2px 1px #949494;
  width: 500px;
  box-sizing: border-box; /* 너비를 포함하여 크기를 계산하도록 함 */
  padding: 8px;
  border-radius: 4px;
  background-color: #ffffff;
}

.board-header {
  width: 100%;
}
.board-header-time {
  float: right;
  margin-right: 10px;
  font-size: 11px;
  font-weight: 550;
  color: #8a8a8a;
}
.board-header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /*수직 정렬*/
}

.profileImg {
  width: 70px;
  height: 50px;
}
.profileLike {
  width: 70px;
  height: 10px;
}
.board-image {
  float: right;
}
.board-image img {
  height: 60px;
  width: 70px;
}
.titleNickname {
  flex-direction: wrap;
  text-align: center;
}

.titleNickname .title {
  font-weight: 1000;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 30px;
  /* font-family: "NanumSquareRoundEB"; */
  /* 추가된 스타일 */
  max-width: 300px; /* 허용할 최대 너비 설정 */
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}

.nickname {
  font-weight: 600;
  font-size: 13px;
  margin: 20px;
  /* font-family: "NanumSquareRoundB"; */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-image-main {
  float: right;
}

.board-image {
  display: flex;
  float: right;
  gap: 10px;
  padding: 10px;
}

.write-board {
  padding: 30px;
  width: 90%;
}

.write {
  font-size: 15px;
  font-weight: 600;
  color: #757575;
  line-height: 18px;
  /* font-family: "NanumSquareRoundL"; */
  /* 추가된 스타일 */
  max-height: 100px; /* 허용할 최대 높이 설정 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}
.comment-count {
  width: 20px;
  height: 20px;
  display: flex;
  float: right;
  margin: 20px;
}
.comment-count img {
  width: 90%;
  height: 90%;
  margin-right: 5px;
}
.board-foot {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.board-foot-tag {
  display: flex;
  gap: 10px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 13px;
  color: #b4b4b4;
}
.foot-place-detail {
  text-align: center;
  float: right;
  margin-right: 10px;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  gap: 5px;
  color: #b4b4b4;
}

/* 모달 스타일 */

.modal-main {
  z-index: 11;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  width: 900px; /* 너비 조절 */
  height: 700px; /* 높이 조절 */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
  position: relative;
  border-radius: 4px;

  /* 화살표 스타일 */
  .arrow-button {
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 세로 중앙 정렬 */
    transform: translateY(-50%); /* 세로 중앙 정렬을 위한 변형 */
    font-size: 60px; /* 화살표 크기 조절 */
    cursor: pointer; /* 커서 변경 */
    color: #bcbcbc; /* 화살표 색상 설정 (원하는 색상으로 변경) */
    z-index: 3;
  }

  .left-arrow {
    left: 10px; /* 왼쪽에 위치 */
  }

  .right-arrow {
    right: 10px; /* 오른쪽에 위치 */
  }

  /* 다른 스타일 속성들... */
}

.modal-image-container {
  /* 이미지 컨테이너 스타일 속성들... */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal img {
  max-width: 500px;
  max-height: 500px;
  display: block;
  margin: 0 auto;
}

button {
  margin-top: 10px;
}
.close-button {
  position: absolute;
  top: 10px; /* 수직 위치를 조정하려면 top 값을 조정하세요. */
  right: 10px; /* 수평 위치를 조정하려면 right 값을 조정하세요. */
  font-size: 20px;
  cursor: pointer;
  color: #333; /* 선택 사항: 필요한대로 색상을 변경하세요. */
}

/* comment */

.comment textarea {
  border-style: none;
  min-width: 750px;
  min-height: 10px;
  resize: none;
}

.comment button {
  border-style: none;
  cursor: pointer;
  min-height: 10px;
}
