/* body {
  overflow: overlay;
} */

.Matching-modal::-webkit-scrollbar-button:horizontal:single-button:start {
  position: absolute;
  content: "";
  border-bottom: 20px solid transparent;
  border-right: 42px solid rgba(0, 0, 0, 0);
  border-left: 20px solid transparent;
  border-top: 20px solid transparent;
}

.Matching-modal::-webkit-scrollbar-button:vertical:single-button:start {
  position: absolute;
  content: "";
  border-right: 20px solid transparent;
  border-bottom: 62px solid rgba(0, 0, 0, 0);
  border-left: 20px solid transparent;
  border-top: 20px solid transparent;
}

.Matching-modal::-webkit-scrollbar-button:horizontal:single-button:end {
  position: absolute;
  overflow: hidden;
  content: "";
  border-bottom: 20px solid transparent;
  border-left: 42px solid rgba(0, 0, 0, 0);
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
}

.Matching-modal::-webkit-scrollbar-button:vertical:single-button:end {
  position: absolute;
  overflow: hidden;
  content: "";
  border-bottom: 20px solid transparent;
  border-top: 62px solid rgba(0, 0, 0, 0);
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.Matching-modal::-webkit-scrollbar {
  display: none;
}

.real-main {
  padding-left: 240px;
  background-color: #ff7f38;
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  margin: 0px auto;
  padding-top: 40px;
}

.select-bar {
  border: 1px solid #ff7f38;
  display: flex;
  border-radius: 4px;
  width: 1200px;
  padding: 0px 10px;
  margin-bottom: 12px;
  background-color: #ffffff;
}

.select-bar a {
  padding: 5px 10px;
  border-radius: 4px;
  line-height: 56px;
  margin: 5px;
  color: #4d391c;
  border-style: none;
  font-weight: 700;
}

.select-bar a:hover {
  color: #ff7f38;
}

.search-box {
  display: flex;
  position: relative;
  background-color: #ffffff;
  width: 1197px;
  padding: 5px 25px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.place-box {
  display: flex;
  margin-right: auto;
}

.place-box select {
  height: 40px;
  width: 140px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

.place-box h1 {
  display: flex;
  align-items: center;
  color: #4d391c;
  font-weight: bold;
}

.userCategory {
  display: flex;
  align-items: center;
}

.userCategory button {
  padding: 8px 15px;
  border-radius: 4px;
  border-style: none;
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  background: #ff7f38;
  color: #ffffff;
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin: -5px -5px 5px;
  margin-bottom: 20px;
}

.section .noContent {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  margin-top: 10px;
}

.board {
  background-color: #ffffff;
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid #ff7f38;
  border-radius: 4px;
  width: 393px;
  min-height: 270px;
  padding: 20px;
  margin: 5px;
}

.board-header {
  display: flex;
}

.board-header-time {
  font-size: 7px;
  font-weight: 660;
  color: #ff7f38;
  position: absolute;
  right: 20px;
  top: 20px;
}

.profile {
  position: relative;
  width: 44px;
  height: 44px;
  margin-right: 8px;
}

.profile img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.titleNickname .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #000000;
  font-weight: 800;
  font-size: 14px;
}

.nickname {
  font-size: 13px;
  font-weight: normal;
  color: #ff7f38;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-top: 4px;
}

.board-image-main {
  float: right;
  min-height: 50px;
}

.board-image {
  display: flex;
  float: right;
}

.board-image img {
  height: 50px;
  width: 60px;
  margin-right: 5px;
}

.titleNickname {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.write-board {
  margin-top: 20px;
  line-height: 16px;
  word-break: break-all;
  height: 48px;
}

.write {
  font-size: 12px;
  font-weight: 800;
  color: #000000;
  line-height: 18px;
  max-height: 100px; /* 허용할 최대 높이 설정 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}

.comment-count {
  display: flex;
  float: right;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.category {
  font-weight: 600;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 28px;
}

.category span {
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 8px;
  line-height: 14px;
  background: #ff7f38;
  color: #ffffff;
}

.foot-place-detail {
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  right: 20px;
  top: 210px;
  gap: 6px;
}

.foot-place-detail p {
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 8px;
  line-height: 14px;
  background: #ff7f38;
  color: #ffffff;
}

/* 모달 스타일 */

.Matching-modal-main {
  z-index: 11;
}

.Matching-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Matching-modal {
  background: #ffffff;
  width: 700px; /* 너비 조절 */
  height: 500px; /* 높이 조절 */
  /* padding: 10px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
  position: relative;
  border-radius: 4px;

  /* 화살표 스타일 */
  .arrow-button {
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 세로 중앙 정렬 */
    transform: translateY(-50%); /* 세로 중앙 정렬을 위한 변형 */
    font-size: 60px; /* 화살표 크기 조절 */
    cursor: pointer; /* 커서 변경 */
    color: #bcbcbc; /* 화살표 색상 설정 (원하는 색상으로 변경) */
    z-index: 3;
  }

  .left-arrow {
    left: 10px; /* 왼쪽에 위치 */
  }

  .right-arrow {
    right: 10px; /* 오른쪽에 위치 */
  }

  /* 다른 스타일 속성들... */
}

.modal-image-body {
  /* 이미지 컨테이너 스타일 속성들... */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Matching-modal img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.modal-bar {
  width: 100%;
  /* background-color: #ff7f38; */
  height: 20px;
}

.close-button {
  position: absolute;
  top: 10px; /* 수직 위치를 조정하려면 top 값을 조정하세요. */
  right: 10px; /* 수평 위치를 조정하려면 right 값을 조정하세요. */
  font-size: 20px;
  cursor: pointer;
  color: #ffffff; /* 선택 사항: 필요한대로 색상을 변경하세요. */
}

/* comment */

.comment {
  display: flex;
}

.comment textarea {
  border-style: none;
  min-width: 750px;
  min-height: 10px;
  resize: none;
}

.comment button {
  border-style: none;
  cursor: pointer;
  min-height: 10px;
}

.comment-profile {
  margin-right: 10px;
}

.commentList {
  display: flex;
}

svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
  color: #ff7f38;
}

.play {
  background: #ff7f38;
  border-style: none;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
}

#editPost {
  background-color: #ff7f38;
  color: white;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#deletePost {
  background: #ff7f38;
  border-style: none;
  color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-bottom: 15px;
  font: inherit;
}
