/* @font-face {
  font-family: "NanumSquareRoundB";
  src: url("../font/NanumSquareRoundB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundEB";
  src: url("../font/NanumSquareRoundEB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundL";
  src: url("../font/NanumSquareRoundL.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundR";
  src: url("../font/NanumSquareRoundR.ttf") format("truetype");
} */

body {
  background-color: #ffefdc;
  /* font-family: "NanumSquareRoundL"; */
}

a {
  text-decoration: none;
  color: #000;
}
.main-content {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  padding: 20px;
}
nav {
  width: 1640px;
  height: 56px;
  z-index: 1;
  padding-left: 10px;
  background-color: white;
  /* font-family: "NanumSquareRoundR"; */
}

nav a {
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 56px;
  margin: 5px;
  color: #351c4d;
  border-style: none;
  font-weight: 700;
}

nav a:hover {
  color: #ff7f38;
}

section {
  width: 1000px;
  padding-top: 30px;
  display: grid; /* 그리드 레이아웃 사용 */
  grid-template-columns: repeat(3, 1fr); /* 3개의 열을 생성 */
  gap: 10px; /* 각각의 .post-board 사이의 간격 설정 */
  margin-left: 50px;
}

.board {
  border: 1px solid #ffd4a3;
  width: 500px;
  box-sizing: border-box; /* 너비를 포함하여 크기를 계산하도록 함 */
  padding: 8px;
  border-radius: 4px;
  background-color: #ffffff;
}

.board-header {
  width: 100%;
}
.board-header-time {
  float: right;
  margin-right: 10px;
  font-size: 11px;
  font-weight: 550;
  color: #8a8a8a;
}
.board-header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /*수직 정렬*/
}

.profileImg {
  width: 70px;
  height: 50px;
}
.profileLike {
  width: 70px;
  height: 10px;
}
.board-image {
  float: right;
}
.board-image img {
  height: 60px;
  width: 70px;
}
.titleNickname {
  flex-direction: wrap;
  text-align: center;
}

.titleNickname .title {
  font-weight: 1000;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 30px;
  /* font-family: "NanumSquareRoundEB"; */
}

.nickname {
  font-weight: 600;
  font-size: 13px;
  margin: 20px;
  /* font-family: "NanumSquareRoundB"; */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-image-main {
  float: right;
}

.board-image {
  display: flex;
  float: right;
  gap: 10px;
  padding: 10px;
}

.write-board {
  padding: 30px;
  width: 90%;
}

.write {
  font-size: 15px;
  font-weight: 600;
  color: #757575;
  line-height: 18px;
  /* font-family: "NanumSquareRoundL"; */
}
.comment-count {
  width: 20px;
  height: 20px;
  display: flex;
  float: right;
  margin: 20px;
}
.comment-count img {
  width: 90%;
  height: 90%;
  margin-right: 5px;
}
.board-foot {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.board-foot-tag {
  display: flex;
  gap: 10px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 13px;
  color: #b4b4b4;
}
.foot-place-detail {
  text-align: center;
  float: right;
  margin-right: 10px;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  gap: 5px;
  color: #b4b4b4;
}
