.post-container {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    min-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 20px #ff7f38;
}

.post-table {
    width: 100%;
    border-collapse: collapse;
}

.post-table th, .post-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: center;
}

.post-table th {
    background-color: #f2f2f2;
    font-size: 16px;
}

.post-table td {
    font-size: 15px;
}

.post-table tr:hover {
    background-color: #f5f5f5;
}

.post-table th:nth-child(1), .post-table td:nth-child(1) {
    width: 25%; /* 글 제목 칸 너비 */
}

.post-table th:nth-child(2), .post-table td:nth-child(2) {
    width: 60%; /* 글 내용 칸 너비 */
}

.post-table th:nth-child(3), .post-table td:nth-child(3) {
    width: 15%; /* 작성 날짜 칸 너비 */
}
