.navbar2 {
  position: sticky;
  top: -1px;
  background-color: white;
  z-index: 10;
  width: 100%;
  display: flex;
  border-top: 1px solid #dddddd;
  border-bottom: 4px solid #ff7f38;
  box-shadow: 0 5px 4px -4px #ff7f38;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  min-width: 1200px;
  height: 50px;
}

.navbar-menu a {
  margin-left: 60px;
  margin-right: 60px;
  font-weight: bold;
}

.matchingPost,
.matchingSearch,
.review,
.community {
  color: #4e4e4e;
}

.matchingPost:hover,
.matchingSearch:hover,
.review:hover,
.community:hover {
  border-radius: 5px;
  color: #ff7f38;
}

.navbar-alarm {
  margin-right: 150px;
  cursor: pointer;
}

.navbar-home {
  margin-left: 150px;
}

.offcanvas-body {
  white-space: normal;
  overflow-y: auto;
  max-height: 100vh;
  line-height: 1.4;
  background-color: #eeeeee;
  border-top: 1px solid rgb(189, 189, 189);
}

.offcanvas-body::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 조절 */
}

.offcanvas-body::-webkit-scrollbar-thumb {
  background-color: rgb(199, 199, 199); /* 스크롤바 색상 조절 */
  border-radius: 10px; /* 스크롤바 둥글게 만들기 */
}

.offcanvas-body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156, 156, 156); /* 스크롤바 호버 시 색상 변경 */
}

.notice {
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  gap: 10px; /* 버튼 사이의 간격 조절 */
}

.notice-link {
  background-color: white;
  border-radius: 15px;
  border: 0.5px solid rgb(224, 224, 224);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.notice-top {
  display: flex;
  justify-content: space-between; /* 내부 요소를 양옆 끝으로 정렬 */
}

.notice-link .notice-exp {
  font-weight: bold;
  font-size: 1.2rem;
}

.notice-link .notice-time {
  font-size: 0.8rem;
  margin-right: 5px;
}

.notice-link .notice-addr {
  font-size: 1rem;
  white-space: normal;
  margin-top: 10px;
}
