/* #pages .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

#pages .pagination li {
    margin: 0 5px;
    font-size: 15px;
}

#pages .pagination li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#pages .pagination li.active a {
    background-color: #ff7f38;
    color: #fff;
    border-color: #ff7f38;
} */

.searchAndWrite {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
}

.searchAndWrite {
    padding: 0 10px;
}

.searchAndWrite form {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 40px;
}

.searchAndWrite .search {
    display: flex;
    flex: 1;
}

.searchAndWrite .search select {
    box-sizing: border-box;
    height: 40px;
    padding: 0 20px;
    font-size: 1em;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
    appearance: none;
    background-color: #ff7f38;
}

.searchAndWrite .search input {
    box-sizing: border-box;
    flex: 1;
    height: 40px;
    padding: 0 16px;
    margin: 0 14px;
    font-size: 1em;
    background-color: #ff7f38;
    color: whitesmoke;
    border: 0;
    border-radius: 8px;
}

.searchAndWrite .search button {
    box-sizing: border-box;
    height: 40px;
    padding: 0 20px;
    margin: 0;
    font-size: 0.9em;
    color: white;
    background-color: #ff7f38;
    border: 0;
    border-radius: 8px;
}

.searchAndWrite .write {
    display: flex;
    justify-content: flex-end;
}
