 .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
  }
  
  .pagination li {
    margin: 0 5px;
    font-size: 15px;
  }
  
  .pagination li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .pagination li.active a {
    background-color: #FF7F38;
    color: #fff;
    border-color: #FF7F38;
  }
  