.ck.ck-toolbar {
  border: 1px solid var(--alpha-30) !important;
  border-bottom-width: 0 !important;
}

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
  position: absolute !important;
}

.ck-widget__type-around__button::after,
.ck-widget__type-around__button_before,
.ck-widget__type-around__button_after {
  width: 48px !important;
  height: 48px !important;
}

.postWrite form {
  gap: 15px;
  width: 100%;
}

.postWrite form > div {
  width: 100%;
}

.postWrite .wrap {
  display: flex;
  justify-content: center;
}

.postWrite .subContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postWrite .subContainer > .mainMinorSubject {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.postWrite select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  color: var(--default-font-color);
  background-color: var(--default-background-color);
  border: 1px solid var(--alpha-30);
  border-radius: 8px;
}

.postWrite select:disabled {
  color: var(--alpha-70);
  background: var(--alpha-5);
}

.postWrite .boardContainer {
  width: 75%;
}

.postWrite .categoryContainer {
  width: 25%;
}

.postWrite .boardContainer,
.postWrite .categoryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-weight: bold;
  border-radius: 8px;
}

.postWrite .checkBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  align-items: flex-start;
  justify-content: space-between;
}

.postWrite .noticeCheckBoxShow,
.postWrite .commentCheckBoxShow {
  display: flex;
  flex-direction: row;
}

.postWrite .noticeCheckBoxShow label,
.postWrite .commentCheckBoxShow label {
  margin-right: 5px;
  cursor: pointer;
}

.postWrite .noticeCheckBoxShow input,
.postWrite .commentCheckBoxShow input {
  margin-right: 10px;
  cursor: pointer;
}

.postWrite .checkBoxPrimaryNotice,
.postWrite .checkBoxNotice,
.postWrite .checkBoxUseBest,
.postWrite .checkBoxCloseComment,
.postWrite .checkBoxStopComment {
  display: flex;
  padding: 2px 0 2px 2px;
  color: var(--default-anchor-color);
  background-color: var(--alpha-5);
  border-radius: 4px;
}

.postWrite .checkBoxNotice,
.postWrite .checkBoxUseBest,
.postWrite .checkBoxStopComment {
  margin-left: 4px;
}

.noticeCommentStatus {
  color: var(--default-anchor-color);
  text-align: center;
  background-color: var(--alpha-5);
  border: 0;
  border-radius: 8px;
}

.postWrite .title {
  display: flex;
  width: 100%;
}

.postWrite form {
  display: flex;
  flex-direction: column;
}

.postWrite input[type="text"],
.postWrite input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-size: 1em;
  color: var(--default-font-color);
  background-color: var(--default-background-color);
  border: 1px solid var(--alpha-30);
  border-radius: 8px;
}

.postWrite .files {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 1em;
  border: 1px solid var(--alpha-30);
  border-radius: 8px;
}

.postWrite .files > span {
  display: flex;
  align-items: center;
}

.postWrite .files input[type="text"],
.postWrite .files input[type="file"] {
  min-width: 210px;
  height: auto;
  padding: 0;
  color: var(--default-font-color);
  text-overflow: ellipsis;
  background-color: var(--default-background-color);
  border: 0;
}

.postWrite .files .remove {
  margin-left: 5px;
  cursor: pointer;
}

.postWrite .files.new {
  display: none;
}

.postWrite .files.new.active {
  display: flex;
}

.postWrite .files.new .remove {
  display: none;
}

.postWrite .files.new .remove.active {
  display: block;
}

.postWrite .files .inputs {
  display: flex;
  justify-content: start;
}

.postWrite .files .insert {
  display: none;
  padding: 3px;
  color: #000;
  cursor: pointer;
  background-color: #eee;
  border: solid 1px #767676;
  border-radius: 3px;
}

.postWrite .files .insert.active {
  display: block;
}

.postWrite .hint {
  margin: 5px 10px;
  color: var(--alpha-50);
}

.postWrite .button {
  flex: 1;
}

.postWrite button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 1em;
  color: var(--default-anchor-color);
  background-color: var(--alpha-5);
  border: 0;
  border-radius: 8px;
}

.postWrite button:hover,
.postWrite button:active {
  background-color: var(--alpha-10);
}

.postWrite .content {
  color: var(--default-font-color);
  border-radius: 8px;
}

.postWrite .content .textareaContainer {
  width: 100%;
}

.postWrite .content .textareaContainer textarea,
.postWrite .content .textareaContainer .ck-content {
  border: 1px solid var(--alpha-30) !important;
}

.postWrite .content .textareaContainer .wordCount {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 10px 0;
}

.postWrite .content a {
  color: var(--point-background-color);
  text-decoration: underline;
}

.postWrite .customFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.postWrite .html {
  padding: 0;
  border-radius: 8px;
}

.postWrite .html textarea,
.CodeMirror {
  width: 100%;
  height: 500px;
  font-size: 0.8em;
  border: 1px solid var(--alpha-30);
}

.postWrite .nonMember {
  display: flex;
  gap: 15px;
}

.ck-editor__editable {
  width: 100%;
}

.ce-header {
  padding: 0;
  margin: 0;
  line-height: 1.6em;
}

.ce-paragraph {
  padding: 0;
  margin: 0;
  line-height: 1.6em;
}

li {
  padding: 0;
  margin: 0;
}

@media (max-width: 950px) {
  .shortcuts {
    position: static;
  }

  h1 {
    /* margin-right: 10px; */

    /* margin-left: 10px; */
  }

  .postWrite form {
    /* margin-right: 10px; */

    /* margin-left: 10px; */
  }

  .postWrite .subContainer > div {
    flex-direction: column;
  }

  .postWrite .boardContainer,
  .postWrite .categoryContainer {
    width: 100%;
  }
}
