 #postTitle {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.postWrite input[type="text"],
.postWrite input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-size: 1em;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
}

.content {
  width: 100%;
  word-break: break-word;
}

.content .textareaContainer {
  width: 100%;
}

.wordCount {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 10px 0;
}

 .button {
  flex: 1;
}

 .button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 1em;
  border: 0;
  border-radius: 8px;
  word-break: keep-all;
  cursor: pointer;
}

.textareaContainer textarea {
  width: 100%;
  resize: none;
  min-height: 300px;
  overflow-x: hidden; /* 가로 스크롤바 비활성화, 텍스트 자동 줄 바꿈 */
  white-space: pre-line;
  min-width: 900px;
}

.ck-editor__editable {
  min-height: 300px;
  word-wrap: break-word;
  max-width: 900px;
  white-space: pre-line;
  overflow-x: hidden; /* 가로 스크롤바 비활성화, 텍스트 자동 줄 바꿈 */
}
.ck-editor__editable p {
  line-height: 24px;
}
