.pf-container {
  text-align: center;
  margin-top: 20px;
  background-color: rgba(253, 236, 217, 0.973);
  width: 298px;
  height: 600px;
  border-radius: 3%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pf-header-sign {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.pf-custom-card {
  width: 18rem;
  perspective: 1000px;
  transition: transform 0.5s ease-in-out;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.pf-custom-card.flipped {
  transform: rotateY(180deg);
}

.pf-card-front {
  width: 288px;
  height: 444px;
  transform-style: preserve-3d;
  position: relative;
}

.pf-card-front .pf-main-image {
  margin-left: 10px;
  width: 268px;
  height: 268px;
  border-radius: 100%;
  border: none;
  object-fit: cover;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.39), 0 6px 6px rgba(0, 0, 0, 0.41);
}

.pf-card-body {
  padding: 1rem;
}

.pf-card-body h1 {
  height: 30px;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}
.pf-text {
  font-size: 18px;
  margin-left: 10px;
  overflow: hidden; /* 텍스트를 요소 내에서 숨김 */
  text-overflow: ellipsis; /* 텍스트가 자를 경우 "..."으로 나타냄 */
  display: -webkit-box; /* WebKit 기반 브라우저에서 사용 */
  -webkit-line-clamp: 3; /* 표시할 줄 수 설정 (3줄 이상은 자름) */
  white-space: normal;
  -webkit-box-orient: vertical; /* 세로 방향으로 텍스트 배치 */
  line-height: 1.4;
  height: 69px;
  width: 230px;
}

.pf-front-editBtn {
  background-color: rgb(6, 6, 165);
  border: none;
  height: 40px;
  color: white;
  width: 278px;
  margin-left: 5px;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}
.pf-card-back {
  width: 288px;
  height: 444px;
  background: rgba(253, 236, 217, 0.973);
  transform: scale(-1, 1);
  margin-left: 6px;
  display: none;
  position: relative;
  transform-style: preserve-3d;
}

.pf-info-row {
  display: flex;
  margin-bottom: 8px;
  padding: 7px;
}

.pf-info-label {
  flex: 1;
  font-size: 16px;
}

.pf-info-value {
  flex: 2;
  font-size: 16px;
}

.pf-custom-card.flipped .pf-card-front {
  display: none;
}

.pf-custom-card.flipped .pf-card-back {
  display: block;
}

.pf-front-applyBtn {
  margin-left: 4px;
  background-color: rgba(25, 107, 25, 0.966);
  border: none;
  height: 40px;
  color: white;
  width: 278px;
  margin-bottom: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.pf-front-infoBtn {
  margin-top: 60px;
  margin-left: 4px;
  background-color: rgb(255, 167, 96);
  border: none;
  height: 40px;
  color: white;
  width: 278px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.pf-back-infoBtn {
  background-color: rgb(255, 167, 96);
  border: none;
  height: 40px;
  color: white;
  width: 278px;
  margin-left: 5px;
  margin-top: 60px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.pf-back-editBtn {
  position: relative;
  bottom: 155px;
  background-color: rgb(6, 6, 165);
  border: none;
  height: 40px;
  color: white;
  width: 278px;
  margin-left: 5px;
  margin-top: 60px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.pf-container {
  position: relative;
  /* 기타 스타일 설정 */
}

.pf-back-upBtn {
  position: absolute;
  bottom: 50px; /* 원하는 위치에 따라 조절 */
}

.pf-back-saveBtn {
  position: relative;
  font-weight: bold;
  top: 50px;
  left: 20px;
  width: 50px;
  height: 30px;
  color: white;
  border: none;
  background-color: rgb(255, 167, 96);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.pf-front-saveBtn {
  position: relative;
  font-weight: bold;
  top: 110px;
  left: 220px;
  width: 50px;
  height: 30px;
  color: white;
  border: none;
  background-color: rgb(255, 167, 96);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.21);
}
