.form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  border: 1px solid #e2e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -150px;
}

.form h3 {
  font-size: 26px;
  font-weight: bold;
  color: #262626;
  margin-bottom: 20px;
}

.form-el {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-el label {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
}

.form-el input {
  width: 75%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e2e0e0;
  font-size: 18px;
  font-weight: 400;
  margin-top: 4px;
  outline: none;
}

.form-el input:focus {
  border: 1px solid #FF7F38;
}

.message {
  font-size: 15px;
  color: #ef0000;
  margin-top: 4px;
}

button[type="submit"] {
  width: 80%;
  height: 48px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  background-color: #FF7F38;
  color: white;
  margin-top: 16px;
  cursor: pointer;
}

button[type="submit"]:disabled {
  background-color: #FF7F38;
  color: white;
}

.form img {
  width: 5%;
  height: auto; 
  margin-bottom: 20px; 
}

/* .form-container { 
  max-height: 1200px; 
  overflow-y: auto; 
} */
/* 스크롤바 관련 */

.form-el.label-for-gender {
  margin-top: 16px; /* 간격 조절 */
}

.gender-options {
  display: flex;
  flex-direction: row;
  gap: 20px; /* 남자 여자 글자 사이의 간격 조절 */
}

.gender-option {
  display: flex;
  align-items: center;
}

.gender-option input[type="radio"] {
  margin-right: 2px; /* 라디오 버튼 간격 조절 */
}

.form-el.label-for-bloodType {
  margin-top: 16px; /* 간격 조절 */
}

/* 혈액형 선택창 스타일 */
.form-el select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e2e0e0;
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
  outline: none;
}

/* 지역 선택창 조정 */
.form-el select#location {
  width: 30%; 
  
}

.form-el select#mbti {
  width: 30%; 
}

.form-el select:focus {
  border: 1px solid #FF9615;
}



.selectlike-box {  /* 관심주제 설정 관련 */
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  border-top: 1px solid #ccc;
  padding-top: 16px;
  
}

.selectlike-box-item {
  font-style: inherit;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 25px;
}

.selectlike-box-item.selected {
  background-color: #FF9615; 
}
