h2 {
    font-size: 1.2em;
    font-weight: 700;
}

.bottomBoardListHeader {
    width: 100%;
    padding: 10px 15px;
    text-align: left;
}

#boardList {
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
}

#boardList .item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0 /5%);
}

#boardList,
#title,
.searchAndWrite {
    padding: 0 10px;
}

#boardList .simple .item {
    padding: 5px;
}

#boardList .header .titleContainer,
#boardList .header .titleContainer .title {
    justify-content: center;
    width: 100%;
}

#boardList .item .titleContainer {
    display: flex;
    align-items: center;
    padding: 2px 0;
    overflow: hidden;
}

#boardList.simple .item .title .text {
    font-size: 0.9em;
}

#boardList.simple .item .etc {
    width: 30%;
}

#boardList .item .etc {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2px;
    white-space: nowrap;
}

#boardList .simple .item .etc .nickName {
    display: inline-flex;
    flex: 4;
    align-items: center;
    justify-content: center;
}

#boardList .simple .item .etc > div {
    text-align: center;
}

#boardList .simple .item .etc .field {
    flex: 3;
}

#boardList .simple .item .etc .number {
    flex: 2;
}

#boardList .simple .item .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#boardList .simple .item .titleContainer {
    max-width: 70%;
}

#boardList .item .category {
    box-sizing: border-box;
    padding: 4px 6px;
    margin-right: 8px;
    font-size: 0.9em;
    color: black;
    word-break: keep-all;
    white-space: nowrap;
    background-color: rgb(0, 0, 0 /5%);
    border: solid 1px rgb(0, 0, 0 /10%);
    border-radius: 6px;
}

#boardList .simple .item .title {
    width: 100%;
}

#boardList .item .info i {
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center;
}

#boardList .simple .item .title .text {
    font-size: 0.9em;
}

#boardList .item .title .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#boardList .item .etc .dot {
    display: none;
}

#boardList .item .title .commentCount,
#boardList .simple .item .commentCount {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    margin-left: 5px;
    font-size: 0.9em;
    font-weight: 700;
    color: #ff7f38;
    text-align: center;
    border-radius: 3px;
}

/* #boardList .item .info svg, */
#boardList .item .info i {
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center;
}
/* #boardList .item .title .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
}

.pagination .prev,
.pagination .next {
    box-sizing: border-box;
    width: 50px;
    height: 30px;
}

.pagination .prev a,
.pagination .next a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-color: #ff7f38;
    color: white;
}

.pagination .number {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .number a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-right: 0;
    border-radius: 4px;
}

.pagination .number .selected {
    color: white;
    background-color: #ff7f38;
}

.pagination a {
    text-decoration: none;
}

.pagination .number .notSelected {
    background-color: rgba(8, 8, 8, 0.05);
}
#list .searchAndWrite {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
}

#list .searchAndWrite form {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 40px;
}

#list .searchAndWrite .search {
    display: flex;
    flex: 1;
}

#list .searchAndWrite .search select {
    box-sizing: border-box;
    height: 40px;
    padding: 0 20px;
    font-size: 1em;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
    appearance: none;
    background-color: #ff7f38;
}

#list .searchAndWrite .search input {
    box-sizing: border-box;
    flex: 1;
    height: 40px;
    padding: 0 16px;
    margin: 0 14px;
    font-size: 1em;
    background-color: #ff7f38;
    color: whitesmoke;
    border: 0;
    border-radius: 8px;
}

#list .searchAndWrite .search button {
    box-sizing: border-box;
    height: 40px;
    padding: 0 20px;
    margin: 0;
    font-size: 0.9em;
    color: white;
    background-color: #ff7f38;
    border: 0;
    border-radius: 8px;
}

#list .searchAndWrite .write {
    display: flex;
    justify-content: flex-end;
}
