#main {
    width: 100%;
}

#main .sub .back {
    display: flex;
    color: black;
}

.bestBox {
    width: 65px;
    height: 20px;
    background-color: #ff7f38;
    border-radius: 8px;
    padding-top: 3px;
    padding-bottom: 13px;
    padding-left: 5px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.gobest {
    position: absolute;
    margin-top: 10px;
    display: flex;
    padding-left: 30px;
    color: white;
    font-size: 0.8em;
}

#main .item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0 20px;
    border-radius: 12px;
}

#main .item .info {
    padding-bottom: 20px;
    border-bottom: 1px solid #ff7f38;
}

#main .item .info .titleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#main .item .info .category {
    display: flex;
    margin-right: 10px;
    color: black;
    word-break: keep-all;
    background-color: #ff7f38;
    border-radius: 6px;
}

#main a {
    text-decoration: none;
}

#main .item .info h1 {
    display: inline;
    color: white;
    word-break: break-word;
}

#main .item .info .etc {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9em;
}

#main .item .info .etc .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#main .item .info .etc .left .userImage {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    background-color: #ff7f38;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

#main .item .info .etc .left .nickName {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 100%;
}

.bestContent p {
    line-height: 24px;
}

#main .item .info .etc .likeCount {
    color: black;
}

#main .customHtml {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#main .html {
    box-shadow: 0 5px 4px -4px #ff7f38;
    /* border-bottom: 1px solid #ffd7c2; */
}

#main .likeContainer {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#main .likeContainer .scrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: auto;
    padding: 10px;
    padding-top: 20px;
    font-size: 1em;
    color: black;
    word-break: keep-all;
    background-color: antiquewhite;
    border: 0;
    border-radius: 6px;
}

#main .likeContainer .scrap .scp {
    font-size: 1.07em;
    color: grey;
}

#main .html {
    border-bottom: 1px solid #ff7f38;
    padding-bottom: 20px;
}

#main .listAndEdit {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 0.9em;
}

#main .listAndEdit div {
    display: flex;
    flex: 1;
    gap: 10px;
}

#main .listAndEdit .center .button {
    justify-content: center;
    padding-top: 10px;
}

#main .listAndEdit .left {
    padding-top: 20px;
    padding-bottom: 20px;
}

#main .listAndEdit .right {
    padding-top: 20px;
}
#main .button a,
#main .button button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    padding: 0 20px;
    font-size: 1em;
    color: white;
    background-color: #ff7f38;
    border-radius: 8px;
}

.commentTitle {
    font-size: 1.2em;
    font-weight: 700;
    color: #ff7f38;
}
.commentContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.commentContainer .contentContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    background-color: rgb(0 0 0 /5%);
    border-radius: 8px;
}

.commentContainer .commentInput {
    display: flex;
    flex-direction: row;
}

.commentContainer .commentContent {
    flex: 0.9;
}

.commentContainer textarea {
    width: 100%;
    height: 60px;
    font-size: 1em;
    color: black;
    resize: none;
    /* background-color: rgb(0 0 0 /5%); */
    border: 0;
    border-radius: 8px;
}

.commentContainer .submit {
    display: flex;
    flex: 0.1;
    align-items: start;
    justify-content: center;
    margin: 10px;
    font-size: 1em;
    font-weight: 700;
    border: 0;
    border-radius: 15px;
}

.commentContainer .submit button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 1em;
    color: var(--default-anchor-color);
    background-color: rgb(0 0 0 /5%);
    border: 0;
    border-radius: 8px;
}

#main .listAndEdit .right .button {
    justify-content: right;
}

#main .listAndEdit .left .button {
    justify-content: start;
}
